main{
    background-color: beige;
    color: black;
    margin-left: 0;
    display: flex;
    flex-direction: column;

}

main > .myfuelpal-bar > .myfuelpal-section{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

main > .myfuelpal-section > .myfuelpal-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

main > .myfuelpal-section > .myfuelpal-bar > p
{
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    margin-left: 2rem;
}
.mycars{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

.mycars > .your-cars-top-bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mycars > .your-cars-top-bar > p
{
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    margin-left: 2rem;
}

.car-tile > img {
    width: 20em;
    height: 10em;
    border-radius: 1em 1em 0em 0em;


}

.car-tile {
    margin-left: 2em;
}

button{
    font-size: 1.9rem;
    border: none;
    background: beige;
    margin-right: 3rem;
    text-decoration: underline;
}

button:active,
button:hover
{
    transform: scale(0.98);
}


/* ---------------------------- */
/* STYLOWANIE LICENSE PLATE     */
/* ---------------------------- */
.license_plate
{
    background-color: #fcfcfc;
  width: 7em;
  height: 1.75em;
  border: 1px solid black;
  border-radius: 0.25em;
  display: flex;
  
  font-size: 1.25em;
  font-weight: bold;
  
  justify-content: space-between;
  align-items: center;
  
  
  
}
.country_section{
  width: 2em;
  height: 100%;
  background-color: #3056bf;
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: white;
  border-radius: 0.25em 0 0 0.25em;
}

.license_number{
    width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
}