.profile
{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 10rem;
    margin-right: 5rem;
    gap: 5rem;

}

.profile > .profile-logo
{

}

.profile > .profile-logo > img
{
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
}

.profile > .profile-name-with-email > .header
{
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

.profile > .profile-name-with-email > .email-text
{
    font-size: 2rem;
    font-weight: bold;
    color: gray;
    margin: 1rem 0 0;
}
