section.project-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mycars{
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

.mycars > .your-cars-top-bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mycars > .your-cars-top-bar > p{
    margin: 0;
    margin-left: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.container-subtext
{
    color: #7A7A7A;
    font-size: 1.4rem;
    text-align: center;
}

.mycars > .your-cars-top-bar > button
{
    font-size: 1.9rem;
    border: none;
    background: #fcfcfc;
    margin-right: 3rem;
    text-decoration: underline;
}

.mycars > .your-cars-top-bar > button:hover,
.mycars > .your-cars-top-bar > button:active
{
    transform: scale(0.98);
}


.mycars > .project-form > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 26rem;
    margin-top: 4rem;

}

.mycars > .project-form > form > input[type=text] {
    height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    border: none;
    background-color: #f3f3f3;
}

.mycars > .project-form > form > input[type=file]{
    margin: auto;
    margin-bottom: 1.5em;
}

.mycars > .project-form > form > input[type=date]{
    margin: auto;
    margin-bottom: 1.5em;

    height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    border: none;
    background-color: #f3f3f3;
}

.mycars > .project-form > form > input[type=time]{
    margin: auto;
    margin-bottom: 1.5em;

    height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    border: none;
    background-color: #f3f3f3;
}

.mycars > .project-form > form > textarea
{
    font-size: 1.5rem;
}

.mycars > .project-form > form > button{

    width: 26rem;
    height: 5.5rem;
    margin-top: 1rem;

    font-weight: bold;
   
    margin: 0;
    margin-top: 1.5rem;

    border: none;
    border-radius: 1rem;
    background: linear-gradient(271deg, #FE904B 7.64%, #FB724C 90.68%);

    font-size: 1.75rem;
    color: white;

}

form > button:active,
form > button:hover
{
    transform: scale(0.98);
}

input
{
    width: 25rem;
    margin-bottom: 1rem;

    padding-left: 1em;
    border: none;
    font-size: 1.5rem;
}

