

.container-text-myfuelpal
{
    color: #2b2b2b;
    text-align: center;
    
    font-size: 4rem;
    font-weight: 800;
}
.container-text-myfuelpal > p
{
    margin: 0rem;
}

.container-subtext
{
    color: #7A7A7A;
    font-size: 1.4rem;
    text-align: center;
}

.container-button-signup
{
    width: 26rem;
    height: 5rem;
    margin-top: 1rem;

    border-radius: 1rem;
    background: linear-gradient(271deg, #FE904B 7.64%, #FB724C 90.68%);
    
}

.container-button-login
{
    width: 26rem;
    height: 5rem;
    margin-bottom: 1rem;

    border-radius: 1rem;
    background: #18CE2A;
}

.container-button-login > p,
.container-button-signup > p,
.container-button-loginwithfb > p
{
    font-size: 1.75rem;
    font-weight: bold;
    color: white;
    margin: 0;
}

.container-button-loginwithfb
{
    width: 26rem;
    height: 5rem;
    flex-shrink: 0;

    border-radius: 1rem;
    background: #3B5998;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.fa-brands
/* logo facebooka */
{
    color: white;
    font-size: 1.75rem;
}

button
{
    border: 0;
    cursor: pointer;
}

button:active
{
    transform: scale(0.98);
}

button:hover
{
    transform: scale(0.98);
}