

.container-text-myfuelpal
{
    width: 25vw;

    color: #2b2b2b;
    text-align: center;
    
    font-size: 3rem;
    font-style: bold;
    font-weight: 700;
}
.container-text-myfuelpal > p
{
    margin: 0rem;
}

.container-subtext
{
    width: 25vw;

    color: #7A7A7A;
    font-size: 0.9rem;
    font-weight: 500;
    
    text-align: center;
    align-items: center;
}

.container-button-signup
{
    width: 30vw;
    height: 8vh;
    margin-top: 1rem;

    border-radius: 1rem;
    background: linear-gradient(271deg, #FE904B 7.64%, #FB724C 90.68%);
    
}

.container-button-login
{
    width: 30vw;
    height: 8vh;
    margin-bottom: 1rem;


    border-radius: 1rem;
    background: #18CE2A;
}

.container-button-login > p, .container-button-signup > p, .container-button-loginwithfb > p
{
    font-weight: bold;
    text-align: center;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    color: white;
}

.container-button-loginwithfb
{
    width: 30vw;
    height: 8vh;
    flex-shrink: 0;

    border-radius: 1rem;
    background: #3B5998;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.fa-brands
/* logo facebooka */
{
    color: white;
}

button
{
    border: 0;
    cursor: pointer;
}

button:active
{
    transform: scale(0.98);
}

button:hover
{
    transform: scale(0.98);
}