* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.logo {
    font-size: 4rem;
    color: #2b2b2b;
}

.logo h2 {
    padding: 2rem 0 0 0;
    text-align: center;
    font-weight: 400;
}

.logo span {
    font-weight: 900;
}

.under-logo h3
{
    color: #7A7A7A;
    font-size: 2.1rem;
    text-align: center;
}

a{
    text-decoration: none;
}

 a.but-singup, a.but-login, .but-login-with-fb {
     justify-content: center;
     align-items: center;
    display: flex;
    width: 26rem;
    height: 5rem;
    margin: 0.5rem 0;
    border-radius: 1rem;

    font-size: 1.75rem;
    font-weight: bold;
    color: white;

    border: 0;
    cursor: pointer;

}

button:active,
button:hover
{
    transform: scale(0.98);
}


.but-singup
{
    background: linear-gradient(271deg, #FE904B 7.64%, #FB724C 90.68%);
}

.but-login
{
    background: #18CE2A;
}

.but-login-with-fb
{
    flex-shrink: 0;
    background: #3B5998;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.fa-brands
/* logo facebooka */
{
    color: white;
    font-size: 1.75rem;
}
